<link rel="stylesheet" href="../static/styles.css">
<body onload="return printGuesses()">


Hello World!
<table id="guessTable">
    <tr>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
    </tr>
    <tr>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
    </tr>
    <tr>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
    </tr>
    <tr>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
    </tr>
    <tr>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
    </tr>
    <tr>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
        <td class="letterBox"></td>
    </tr>
</table>
</body>


<script src="../static/game-script.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>