<body onload="return printStats()">
    <p>Here is the stats page</p>
    <table id="statsTable">
        <tr>
            <!-- Heading -->
            <td>Guesses</td>
            <td># of Wins in Guesses</td>
        </tr>
        <tr>
        <!-- 6 data rows -->
            <td>1</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td></td>
        </tr>
    </table>
    <a href="index.html">Return to Game</a>
</body>

<script src="../static/stats-script.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>